body {
    background-color: #000;
    color: orange;
}

.container {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #222;
}

.meni {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    height: 40%;
}

.logo {
    position: relative;
    height: 100px;
    width: 100px;
    /*top:5%;*/
    left: 50%;
    margin-top: -10%;
    margin-left: -50px;
}

.logo-slika {
    height: 100%;
    width: 100%;
    margin-top: -50%;
}

ul {
    padding-bottom: 2%;
}

ul li {
    display: inline;
    margin-left: 3%;
}

ul li a {
    text-decoration: underline;
}

ul li a.active {
    text-decoration: none!important;
}

a {
    color: orange;
}

a:hover {
    color: orangered;
}

.sadrzaj {
    margin-left: 10%;
    margin-right: 10%;
    /*height: 500px;*/
    background-color: #222;
    padding-top: 50px;
    padding-left: 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-right: 1%;
    margin-left: 1%;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

@media only screen and (max-width:800px) {
    .logo {
        margin-top: 20%;
    }
}

@media only screen and (max-width:600px) {
    .grid img {
        max-width: 80%;
        width: 80%;
    }
}