body {
    background-color: #000;
    color: orange;
}

.container {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #222;
}

.meni {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    height: 40%;
}

.logo {
    position: relative;
    height: 100px;
    width: 100px;
    /*top:5%;*/
    left: 50%;
    margin-top: -10%;
    margin-left: -50px;
}

.logo-slika {
    height: 100%;
    width: 100%;
    margin-top: -50%;
}

ul {
    padding-bottom: 2%;
}

ul li {
    display: inline;
    margin-left: 3%;
}

ul li a {
    text-decoration: underline;
}

ul li a.active {
    text-decoration: none!important;
}

a {
    color: orange;
}

a:hover {
    color: orangered;
}

.sadrzaj {
    width: 80%;
    margin-left: 10vw;
    margin-right: 10%;
    /*height: 500px;*/
    background-color: #222;
    padding-top: 50px;
    padding-left: 0px;
}

.tabela {
    margin-left: 5vw;
    width: 50%;
    margin-top: 5%;
    background-color: #444;
}

table {
    border-spacing: 0.781vw;
}

table,
th,
td {
    border: 1px solid white;
    /*border-collapse: collapse;*/
}

table,
tr,
td {
    width: 70px;
}

th.noBorder {
    border-left-style: hidden;
    border-top-style: hidden;
}

td {
    width: 70px!important;
}

th,
td {
    padding: 5px;
    text-align: left;
}

th.mjesec {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

td.dan {
    width: 70px!important;
    text-align: center;
}

td.brojDan {
    background-color: #111;
    text-align: center;
    height: 40px;
    width: 70px !important;
}

td div.slobodna {
    background-color: #00e600;
    height: 60%;
}

td div.zauzeta {
    background-color: red!important;
    height: 60%;
}

div.buttoni {
    margin-left: 20vw;
    width: 50%;
    margin-top: 5%;
    /*background-color: #444;*/
    display: inline-block;
}

button.kalendarAkcija {
    border: 1px solid orange;
    background-color: #333;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px!important;
}

button.kalendarAkcija:hover {
    border: 3px solid orange;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

button.kalendarAkcija:disabled,
button.kalendarAkcija[disabled] {
    background-color: #012;
    border: 3px solid rgb(104, 71, 10);
    color: #aaa;
    cursor: not-allowed;
}

button.kalendarPrethodni {
    float: left;
}

button.kalendarSljedeci {
    float: right;
}

#tabelaKalendar {
    table-layout: fixed;
    width: 60%;
    margin-left: 20%;
}

@media only screen and (max-width: 740px) and (min-width: 601px) {
    td.dan {
        font-size: 13px!important;
    }
}

@media only screen and (max-width: 600px) {
    tr {
        display: block;
        float: left;
    }
    th,
    td {
        display: block;
    }
    #naslovTabele {
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
        font-weight: bold;
    }
    #redNaslovTabele {
        display: none;
    }
    td.dan {
        height: 40px;
    }
    #sedmica2,
    #sedmica3,
    #sedmica4,
    #sedmica5 {
        display: none;
    }
    #tabelaKalendar {
        table-layout: fixed;
        margin-left: 20%;
    }
    td {
        margin-left: 10%;
    }
    button.kalendarPrethodni {
        display: block;
    }
    button.kalendarSljedeci {
        display: block;
    }
}

@media only screen and (min-width:601px) {
    #naslovTabele {
        display: none;
    }
    #redNaslovTabele {
        display: inline;
    }
}

@media only screen and (max-width:800px) {
    .logo {
        margin-top: 20%;
    }
}

li,
em {
    color: orange;
}