body {
    background-color: #000;
    color: orange;
}

.container {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #222;
}

.meni {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    height: 40%;
}

.logo {
    position: relative;
    height: 100px;
    width: 100px;
    /*top:5%;*/
    left: 50%;
    margin-top: -10%;
    margin-left: -50px;
}

.logo-slika {
    height: 100%;
    width: 100%;
    margin-top: -50%;
}

ul {
    padding-bottom: 2%;
}

ul li {
    display: inline;
    margin-left: 3%;
}

ul li a {
    text-decoration: underline;
}

ul li a.active {
    text-decoration: none!important;
}

a {
    color: orange;
}

a:hover {
    color: orangered;
}

.sadrzaj {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;
    margin-left: 10vw;
    margin-right: 10%;
    /*height: 500px;*/
    background-color: #222;
    /*padding-top: 50px;*/
    padding-left: 0px;
}

table.tabelaSala {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 15vw;
    table-layout: fixed;
    width: 60%;
    color: black;
}

th.headerSprat {
    height: 50px;
    background-color: darkgray;
}

td.headerSprat {
    height: 50px;
    background-color: darkgray;
    text-align: right;
}

th.headerRedni {
    height: 50px;
    background-color: #ccc;
    text-align: left;
    width: 50px;
}

td.headerRedni {
    background-color: #ccc;
    height: 30px;
    width: 50px;
}

td.sala {
    text-align: right;
    background-color: #fff;
}

td.slobodnaSala {
    background-color: green;
}

td.zauzetaSala {
    background-color: orange;
}

td.kancelarija {
    background-color: gray;
}

@media only screen and (max-width:800px) {
    .logo {
        margin-top: 20%;
    }
}

@media only screen and (max-width:600px) {
    th.headerSprat {
        visibility: hidden!important;
    }
    td.headerSprat {
        display: none;
    }
    th.headerRedni {
        display: none;
    }
    td.headerRedni {
        display: none;
    }
    table.tabelaSala {
        width: 90%;
        margin-left: 10vw;
    }
    ul li {
        display: block;
        margin-top: 15px;
        text-align: center;
        margin-left: -7%;
        padding-bottom: 2%;
    }
}