body {
    background-color: #000;
    color: orange;
}

.container {
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #222;
}

.meni {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    height: 40%;
}

.logo {
    position: relative;
    height: 100px;
    width: 100px;
    /*top:5%;*/
    left: 50%;
    margin-top: -10%;
    margin-left: -50px;
}

.logo-slika {
    height: 100%;
    width: 100%;
    margin-top: -50%;
}

ul {
    padding-bottom: 2%;
}

ul li {
    display: inline;
    margin-left: 3%;
}

ul li a {
    text-decoration: underline;
}

ul li a.active {
    text-decoration: none!important;
}

a {
    color: orange;
}

a:hover {
    color: orangered;
}

.sadrzaj {
    margin-left: 10%;
    margin-right: 10%;
    height: 500px;
    background-color: #222;
    padding-top: 50px;
    padding-left: 0px;
}

form {
    text-align: center;
    margin-left: -15%;
}

form input {
    border-radius: 10%;
}

.inputcic {
    float: none;
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: center;
}

br {
    display: block;
}

input.akcija {
    border: 1px solid orange;
    background-color: #333;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px!important;
}

input.akcija:hover {
    border: 3px solid orange;
    background-color: #fff;
    color: black;
    cursor: pointer;
}

@media only screen and (min-width:601px) {
    label {
        text-align: right!important;
    }
    br {
        display: none!important;
    }
    /*#naslovTabele {
        display: none;
    }
    #redNaslovTabele {
        display: inline;
    }*/
}

@media only screen and (max-width:600px) {
    form {
        margin-left: 5%;
    }
}

@media only screen and (max-width:800px) {
    .logo {
        margin-top: 20%;
    }
}